# General
.DS_Store
Thumbs.db
*.log

# Editor/IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
android/local.properties

# Android
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
